/* font */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
	font-size: 17px !important;
}

@media (max-width: 1268px) {
	html {
		font-size: 14px !important;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 13px !important;
	}
}

body {
	font-family: 'Poppins', sans-serif !important;
	color: black;
	background-color: rgb(230, 230, 230);
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles */
.dark body {
	color: rgb(230, 230, 230);
	background-color: rgb(23, 23, 23);
}

.dark ::selection {
	background: #e6e6e6;
	color: #171717;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Jost', sans-serif !important;
}

.title {
	font-family: 'Jost', sans-serif !important;
}

/* Scroll snap container */
.scroll-container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.section {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.navbar {
	z-index: 49 !important;
}


/* h2, h3, h4, h5, h6 {
	@apply text-gray-600;
} */

span {
	font-family: "Jost", sans-serif;
}

li {
	@apply list-none relative;
}

li.active:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ffffff;


}

td, th {
	@apply py-2 px-3;
}


a[title]:hover:after {
	margin-left: -100px;
	margin-top: -50px;
	position: absolute;
	content: attr(title);
	padding: 0.5rem;
	white-space: nowrap;
	z-index: 1;
	background-color: #333333;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	font-size: 0.8rem;

}

::selection {
	background: #333333;
	color: #fff;
}